.form-button-mobile{
    border-style: none;
    width: 130px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--btn-color);
    font-size: 10px;
    font-weight: 500;
    color: var(--secondary-color);
    cursor: pointer;
}

@media (max-width: 992px) {
    .form-button {
        height: 50px;
        font-size: 20px;
    }
}