.form-input{
    width: 495px;
    height: 72px;
    padding: 10px 20px;
    border-style: none;
    background-color: #FFE6F3;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #5C5660;
}