:root {
    --shadow-container-principal: 0px 20px 31.1px 0px #D8458B40;

}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFAFC;
    padding: 3.81rem;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "inicio login";
    height: 100%;
    box-shadow: var(--shadow-container-principal);
    border-radius: 60px;
}

.inicio {
    grid-area: inicio;
    background-color: #f2d6fb;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    text-align: center;
}

.inicio h1 {
    font-size: 28px;
    color: #2e1432;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.icone {
    height: 32px;
}

.inicio p {
    font-size: 16px;
    color: #2e1432;
    margin-top: 10px;
    white-space: pre-line;
}

.login {
    grid-area: login;
    background-color: #fff0f7;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.login h2 {
    font-size: 24px;
    color: #2e1432;
    margin-bottom: 20px;
}

label {
    margin-top: 15px;
    color: #2e1432;
    font-weight: bold;
}

input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffe3f0;
    margin-top: 5px;
    width: 100%;
}

.senha {
    position: relative;
}

.esqueceu {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
}

.esqueceu a {
    color: #e55cae;
    text-decoration: none;
}

a.esqueceu-senha {
    color: #d63384;
    text-decoration: none;
    font-weight: 500;
}

a.cadastre-se {
    color: #d63384;
    text-decoration: none;
    font-weight: 500;
}

button {
    margin-top: 25px;
    padding: 12px;
    background-color: #e55cae;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cadastro {
    margin-top: 20px;
    font-size: 14px;
}

.cadastro a {
    color: #e55cae;
    text-decoration: none;
}

@media only screen and (max-width: 820px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "inicio"
            "login";
    }

    .inicio {
        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 40px 20px;
    }

    .login {
        border-radius: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 40px 20px;
    }
}