.cadastro-container-mobile {
    width: 100%; 
    max-width: 243px; 
    min-height: 364px;
    border-radius: 12px;
    box-shadow: 0 20px 31.1px #D8458B40;
    overflow: hidden;
    margin: 0 auto; 
}

@media (max-width: 1370px) {
    .cadastro-container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}