/*Estilos para dispositivos com largura de tela de até 1024px*/
 @media (max-width: 1024px){
    nav{
        width: 100%;
    }

    #container-cards{
        flex-wrap: wrap;
    }

    #container-cadastrar-evento{
        justify-content: center;
    }

/*container-trilhas-estudos*/
    .container-painel{
        width: 100%;
    }
    
/*container-relatorios*/
    .box-relatorios{
        justify-content: center;
        gap: 8px;
    }
}

/*Estilos para dispositivos com largura de tela de até 768px*/
@media(max-width: 768px){
    html{
       font-size: 87%;
    }

    nav{
        padding: 20px 0px 8px 100px;
    }

    #container-cards{
        padding: 0 20px;
        flex-wrap: wrap;
    }
    
    .card-padrao{
        width: 250px; 
    }

 /*container-feedback*/
    #botao-feedback-geral{
    width:320px;
    height: 44px;
    }
}

/*Estilos para dispositivos com largura de tela de até 425px*/ 
@media(max-width: 425px){
    html{
    font-size: 68.5%;
}  
     nav{
      padding: 20px 4px 8px 10px; 
       width: 100%;
        
    & .user-info{
        padding: 17px 32px;
    } 
}
    #container-geral{
        padding: 0px 10px;
}
  
   #container-cards{
        flex-wrap: wrap;
    }

    .card-icone img{
        width: 50px;
    }

    .card-textos{
        padding: 20px;
    }

    .card-subtitulo{
        display: none;
    }

    .card-padrao{
        width: 170px;
        height: 160px;
    }

      #botao-cadastrar-evento{
        width: 250px;
        height: 44px;
    }

/*container-trilhas-estudos*/
      #botao-nova-trilha{
        width: 130px;
        height: 37px;
     }
    
    .container-lista-conteudo{
    padding: 13px;
}

.container-lista-conteudo img{
    width: 15px;
}

/*container-entregas-aluna*/
#container-entregas-aluna .botao-acao-aluna{
    width: 130px;
}
    
/*container-feedback*/
#container-feedback .titulo-painel {
   padding-bottom: 18px;
}
    #botao-feedback-geral{
    width: 160px;
    height: 36px;
}

     #botao-feedback-geral img{
        width: 27px;
}

    #container-feedback .botao-acao-aluna{
    width: 120px;
}

/*container-relatorios*/ 
    box-relatorios{
        justify-content: center;
        gap: 8px;
    }

    .relatorio-largura-personalizada{
    width: 310px;
    height: 139px;
}

    .botao-relatorio{
    width: 280px;
    height: 43px;
    }
}