* {
    font-family:"Montserrat", sans-serif;
}

nav{
    width: 100%;  
    max-width: 1920px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 8px 118px;
    border-bottom: 1px solid #FFE1E7;
    background-color: #FFFAFC;
}

.navbar-logo{
    height: 45px;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 17px 122px;
}

.user-avatar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-name p{
    white-space: nowrap;
    font-size: 16px;
    color: #3C254D;
    font-weight: 500;
}
 