* {
    font-family:"Montserrat", sans-serif;
}

nav{
    width: 100%;  
    max-width: 1920px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 8px 118px;
    border-bottom: 1px solid #FFE1E7;
    background-color: #FFFAFC;

    & .navbar-logo{
    height: 45px; 
    }

    & .user-info{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 17px 122px;
    }

    & .user-avatar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    }

    & .user-name p{
    white-space: nowrap;
    font-size: 16px;
    color: #3C254D;
    font-weight: 500;
    }
}


#header-trilhas{
    padding-top: 63px;
    padding-left: 182px;

    & .gerenciar-titulo{
        font-size: 2rem;
        font-weight: 700;
        color: #3C254D;
        padding-bottom: 10px;
    }

    & .gerenciar-subtitulo{
        font-size: 1.25rem;
        font-weight: 500;
        color: #3C254D;
        padding-bottom: 40px;
    }
}

#carrossel-trilhas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 189px;
}

#carrossel-gerenciar{
    background-color: #F4D7F5;
    width:363px;
    height: 226px;
    border-radius: 20px;
    box-shadow: 6px 6px 5.2px 0px rgba(255, 152, 173, 0.25);

}


.carrossel-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
}

.carrossel-textos{
    padding-top: 14px;
    text-align: center;

    .carrossel-titulo{
        font-weight: 500;
        font-size: 1.37rem;
        color: #3C254D;
    }

    .carrossel-subtitulo{
        font-weight: 400;
        color: #C89FF2;
        font-size: 1rem;
    }
}
