

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    width: 100%;
    height: 73px;
    background-color: #fffafc;
    border-bottom: 1px solid #FFE1E7
}

.logo {
    Width: 111px;
    Height: 45px;
    Left: 118px; 
    position: relative;  
}

.perfil {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-right: 118px;    
}

.foto-perfil {
    border-radius: 50%;
    Width: 40px;
    Height: 40px;   
    background-color: #F4D7F5;

}

.nome-perfil {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;      
    color: #3C254D;
    cursor: pointer;
}
main {
    width: 100%;       
    height: calc(100vh - 73px);
    background-color: #FFF2F6;

}

.opcoes {
    padding-top: 20px;

}

.opcoes ol {
    margin-left: 122px;

}

li {
    display: inline;
    color:  #3C254D; 
    font-weight: 500;
    font-size: 20px;
       

}
li::before {
    content: ">";
    margin: 0 8px;
}

li:first-child::before {
    display: none;
}

.selecao {
    margin: 80px auto auto 150px;

}

.selecao h1 {
    font-weight: 700;
    font-size: 32px;
    color: #3C254D;
}

.selecao p {
    font-weight: 500;
    font-size: 20px;
    color: #3C254D;
    margin-top: 15px;
    margin-bottom: 15px;
}

.selecao div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1477px;
    height: 67px;
    top: 281px;
    left: 177px;
    border-radius: 20px;
    border-width: 1px;
    background: #FFFAFC;
    border: 1px solid #FFE1E7;
    box-shadow: 6px 6px 5.2px 0px #FF98AD40;
}

.front { 
    width: 194px;
    height: 41px;
    top: 294px;
    left: 210px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3C254D;
    background: linear-gradient(180deg, #FFF8FA 0%, #FAE8F8 95.67%, #F4D7F5 100%);
    border: 1px solid #F4D7F5;
}

.back,
.dados,
.ui-ux {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3C254D;
}
