@charset "UTF-8"; /*Evita possíveis problemas com caracteres especiais*/

:root {
    --cor-fundo: #FFF2F6;
    --cor-elementos-principais: #FFFAFC;
    --cor-borda-elementos: #FFE1E7;
    --cor-elementos-secundarios: #F4D7F5;
    --cor-botao-download-materiais: #E25F8B;
    --gradiente-botao-ativo: linear-gradient(180deg, #FFF8FA 0%, #F9E7F7 95.67%, #F4D7F5 100%);
    --box-shadow-barra-trilhas: 6px 6px 5.2px 0px rgba(255, 152, 173, 0.25);
    --cor-texto-principal: #3C254D;
    --cor-texto-secundario: #C89FF2;
    --fonte-principal: "Montserrat";
} /* aqui investi na modularização do CSS usando variáveis CSS, para facilitar caso mudasse algo depois */

body {
    background: var(--cor-fundo);
}

.barra-superior {
    border-bottom: 1px solid var(--cor-borda-elementos);
    background: var(--cor-elementos-principais);
    width: 100%;
    max-width: 100%;
    padding-left: 118px;
    padding-right: 122px;
    height: 73px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.area-logo {
    margin-right: 118px;
}

.logo-superior {
    width: 111px;
    height: 45px;
    aspect-ratio: 37/15;
    flex-shrink: 1; /* Permite que a logo encolha funcionalmente se precisar */
}

.avatar {
    background-color: var(--cor-elementos-secundarios);
    object-fit: cover;    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.nome-user {
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;  /* Evitando quebra de linha */
    overflow: hidden;     /* Corta o nome se for muito grande */
    text-overflow: ellipsis; /* Adiciona "..." em caso de nome muito grande que foi cortado */
}

.area-user {
    display: flex;
    align-items: center;
    gap: 17px;
    flex-shrink: 1; /* Permite que a área encolha funcionalmente se precisar */
    min-width: 0;   /* Garante mais o ajuste do nome da user se necessário */
}

.conteudo-principal {
    max-width: 1200px; /* Garante melhor responsividade e ajuste dos textos na tela */
    margin: 0 auto;
    padding-left: 122px;
    padding-right: 122px;
}

.breadcrumb {
    color: var(--cor-texto-principal);
    margin-top: 20px;
    display: block; /* Ajuda no alinhamento do breadcrumb com h1 e h2 */
    width: 100%;
}

.breadcrumb a {
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.breadcrumb a.ativo {
    text-decoration: none;
}

.breadcrumb ol {
    display: flex; /* Alinha horizontalmente os itens da lista */
    flex-wrap: wrap;  /* Evita que o texto extrapole em caso de tela muito pequena */
    list-style: none; /* Retira os marcadores padrão para itens de lista */
    gap: 12px; /* Define espaçamento padrão entre os itens da lista */
    padding: 0; /* Evita desalinhamento por padding padrão do navegador */
    margin: 0; /* Evita desalinhamento por margin padrão do navegador */
}

.breadcrumb li {
    display: flex; /* Garante melhor o alinhamento do item da lista com o separador */
    align-items: center;
}

.breadcrumb li + li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 18px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none"><path d="M2 2 L7 8 L2 14" stroke="%233C254D" stroke-width="2" fill="none"/></svg>') no-repeat center;
    margin: 0 12px;
    }

h1 {
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 71px;
}

.conteudo-principal p {
    color: var(--cor-texto-principal);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

.barra-trilhas {
    width: 100%; /* a barra ocupa todo o espaço reservado para ela na tela, conforme responsividade */
    max-width: 1200px;
    margin: 20px auto 0;
    margin-top: 20px;
    height: 67px;
    border-radius: 20px;
    border: 1px solid var(--cor-borda-elementos);
    background: var(--cor-elementos-principais);
    box-sizing: border-box;
    box-shadow: var(--box-shadow-barra-trilhas);
    display: flex;
    justify-content: space-around; /* garante espaçamento uniforme entre os nomes na barra */
    align-items: center;
}

.botao-trilha {
    color: var(--cor-texto-principal);
    border: none; /* retira a borda padrão do botão */
    background: transparent; /* torna o fundo do botão transparente */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.botao-trilha.ativo {
padding: 9px 50px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid var(--cor-elementos-secundarios);
background: var(--gradiente-botao-ativo)
}

.trilha {
    /* estilização do container geral de cada trilha */
}

.modulo {
    /* estilização dos módulos das trilhas */
}

.aula {
    /* estilização das aulas listadas nos módulos */
}

.botao-download-material {
    /* estilização do botão para download do material de aula */
}