@charset "UTF-8"; /*Evita possíveis problemas com caracteres especiais*/
body {
    background: #FFF2F6;
}

.barra-superior {
    border-bottom: 1px solid #FFE1E7;
    background: #FFFAFC;
    width: 100%;
    max-width: 100%;
    padding-left: 118px;
    padding-right: 122px;
    height: 73px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.area-logo {
    margin-right: 118px;
}

.logo-superior {
    width: 111px;
    height: 45px;
    aspect-ratio: 37/15;
    flex-shrink: 1; /* Permite que a logo encolha funcionalmente se precisar */
}

.avatar {
    background-color: #F4D7F5;
    object-fit: cover;    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.nome-user {
    color: #3C254D;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;  /* Evitando quebra de linha */
    overflow: hidden;     /* Corta o nome se for muito grande */
    text-overflow: ellipsis; /* Adiciona "..." em caso de nome muito grande que foi cortado */
}

.area-user {
    display: flex;
    align-items: center;
    gap: 17px;
    flex-shrink: 1; /* Permite que a área encolha funcionalmente se precisar */
    min-width: 0;   /* Garante mais o ajuste do nome da user se necessário */
}

.conteudo-principal {
    max-width: 1200px; /* Garante melhor responsividade e ajuste dos textos na tela */
    margin: 0 auto;
    padding-left: 122px;
    padding-right: 122px;
}

.breadcrumb {
    color: #3C254D;
    margin-top: 20px;
    display: block; /* Ajuda no alinhamento do breadcrumb com h1 e h2 */
    width: 100%;
}

.breadcrumb a {
    color: #3C254D;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.breadcrumb a[aria-current="page"] {
    text-decoration: none; 
}

.breadcrumb ol {
    display: flex; /* Alinha horizontalmente os itens da lista */
    flex-wrap: wrap;  /* Evita que o texto extrapole em caso de tela muito pequena */
    list-style: none; /* Retira os marcadores padrão para itens de lista */
    gap: 12px; /* Define espaçamento padrão entre os itens da lista */
    padding: 0; /* Evita desalinhamento por padding padrão do navegador */
    margin: 0; /* Evita desalinhamento por margin padrão do navegador */
}

.breadcrumb li {
    display: flex; /* Garante melhor o alinhamento do item da lista com o separador */
    align-items: center;
}

.breadcrumb li + li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 18px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 16" fill="none"><path d="M2 2 L7 8 L2 14" stroke="%233C254D" stroke-width="2" fill="none"/></svg>') no-repeat center;
    margin: 0 12px;
    }

h1 {
    color: #3C254D;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 71px;
}

h2 {
    color: #3C254D;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}