/* VARIÁVEIS CSS */
:root {

    /* CORES */
    --cor-texto-principal: #3C254D;
    --cor-fundo: #FFF2F6;
    --cor-elemento-claro: #FFFAFC;
    --cor-borda-suave: #FFE1E7;
    --cor-destaque-claro: #F4D7F5;
    --cor-destaque-medio: #C89FF2;
    --cor-destaque-forte: #FF8CA3;
    --cor-botao-principal: #E25F8B;
    --cor-texto-claro: #FFFAFC;
    --cor-texto-hover-breadcrumb: white;

    /* SOMBRAS E GRADIENTES */
    --sombra-blocos: 6px 6px 5.2px 0px rgba(255, 152, 173, 0.25);
    --sombra-botao: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    --sombra-texto: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --gradiente-botao-trilha: linear-gradient(180deg, #FFF8FA 0%, #F9E7F7 95.67%, #F4D7F5 100%);
    --gradiente-info-aula: linear-gradient(180deg, #FFF8FA 0%, #F9E7F7 95.67%, #F4D7F5 100%);

    /* FONTES */
    --fonte-principal: 'Montserrat', sans-serif;

    /* TIPOGRAFIA RESPONSIVA */
    --font-size-sm: clamp(0.8rem, 0.34vi + 0.71rem, 1.13rem);
    --font-size-base: clamp(1rem, 0.53vi + 0.87rem, 1.5rem);
    --font-size-md: clamp(1.25rem, 0.79vi + 1.05rem, 2rem);

    /* MEDIDAS */
    --max-width-principal: 1366px;
    --max-width-secundaria: 1200px;
}

    /* SELETOR UNIVERSAL CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    font-style: normal;
}

    /* CORPO DA PÁGINA */
body {
    background: var(--cor-fundo);
    color: var(--cor-texto-principal);
}

    /* BARRA SUPERIOR */
.barra-superior {
    position: fixed;
    width: 100vw;
    height: 74px;
    display: flex;
    align-items: center;
    background: var(--cor-elemento-claro);
    border-bottom: 1px solid var(--cor-borda-suave);
}

.wrapper-barra-superior {
    width: 100%;
    max-width: var(--max-width-principal);
    margin: 0 auto;
    padding: 24px 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

    /* AVATAR E NOME DA USUÁRIA */
.area-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    width: clamp(111px, 8vw, 156px);
    height: auto;
    flex-shrink: 0;
    position: relative;
    }

.icone-avatar {
    fill: var(--cor-destaque-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
}

.nome-user {
    max-width: 300px;
    font-size: var(--font-size-sm);
    font-weight: 500;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    /* BREADCRUMB */
.breadcrumb {
    padding-top:75px;
}

.breadcrumb ol {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: var(--max-width-principal); 
    margin: 0 auto;
    padding-top: 16px;
    padding-left: 28px;
    gap: 8px;
}

.breadcrumb a {
    color: var(--cor-texto-principal);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: var(--font-size-sm);
}

.breadcrumb a:hover {
    background-color: var(--cor-botao-principal);
    color: var(--cor-texto-hover-breadcrumb);
    transform: scale(1.03);
    transform-origin: center;
}

    /* SEÇÃO DO TÍTULO DA PÁGINA */
.secao-titulo {
    width: 90%;
    max-width: var(--max-width-secundaria);
    margin: 6vh auto;
}

.secao-titulo h1 {
    font-size: var(--font-size-md);
    font-weight: 700;
}

.secao-titulo p {
    font-size: var(--font-size-base);
    font-weight: 500;
    padding-top: 10px;
} 






/* 
.nav-bar-trilhas {
    background: var(--cor-elemento-claro);
    border: 1px solid var(--cor-borda-suave);
    border-radius: 20px;
    box-shadow: var(--sombra-blocos);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 74px;
}

.selecionar-trilha {
    border: none;
    background-color: transparent;
    min-height: 44px;
    padding: 8px 16px;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-texto-principal);
}
 */









/* BLOCO PRINCIPAL */
/*.container-bloco-principal {
    display: flex;
    justify-content: center;
    margin-top: 56px;
} */

/* .bloco-principal {
    background: var(--cor-elemento-claro);
    border: 1px solid var(--cor-borda-suave);
    border-radius: 20px;
    box-shadow: var(--sombra-blocos);
    width: 80%;
    padding: 36px 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
} */

/* .titulo-trilha {
    font-size: 24px;
    font-weight: 500;
} */

/* .descricao-trilha {
    font-size: 14px;
    font-weight: 400;
} */

/* MÓDULOS */
/* .barra-acesso-modulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; 
} */

/* .titulo-modulo {
    color: var(--cor-destaque-medio);
    font-size: 22px;
    font-weight: 600;
} */

/* .btn-abrir-modulo {
    appearance: none;
    border: none;
    background: transparent;
    padding: 0 32px;
    cursor: pointer;
} */

/* .icone-abrir-modulo {
    stroke: var(--cor-destaque-medio);
    stroke-width: 2;
    width: 12px;
    height: auto;
} */

/* .modulo-ativo .icone-abrir-modulo {
    transform: rotate(180deg);
} */

/* .informacoes-modulo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    padding-left: 20px;
} */

/* AULAS */
/* .informacoes-aula {
    background: var(--gradiente-info-aula);
    border: 1px solid var(--cor-destaque-claro);
    border-radius: 20px;
    max-width: 90%;
    padding: 16px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
} */

/* .titulo-aula, .descricao-aula {
    font-size: 16px;
} */

/* .descricao-aula {
    font-weight: 400;
} */

/* .botao-download-material {
    background: var(--cor-botao-principal);
    box-shadow: var(--sombra-botao);
    border-radius: 20px;
    min-height: 44px;
    padding: 8px 16px;
    flex-shrink: 0;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    color: var(--cor-texto-claro);
} */

/* .icone-botao-download {
    fill: var(--cor-texto-claro);
    width: 17px;
    height: 17px;
} */

/* .descricao-botao-download {
    text-shadow: var(--sombra-texto);
    font-size: 14px;
    font-weight: 500;
} */

/*.divisor-modulos {
    background: var(--cor-borda-suave);
    height: 2px;
    border: none;
} */